* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
#numbers {
    background: #191919;
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    top: 50vh;
    left: 50vw;
    /* transform: translate(-50%, -50%); */
    /* height: 500px; */
    box-sizing: content-box;
    padding: 5px;
}
.number {
    background: #131313;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    font-family: monospace;
    color: white;
}
 /* _____________________________ */

#dashboard {
    display: flex;
    /* position: fixed; */
    /* top: 10px; */
    /* left: 50vw; */
    margin: 10px;
}

#request {
    /* transform: translateX(-50%); */
    padding: 10px 20px;
    font-size: 20px;
    /* font-family: monospace; */
    background: #d70000;
    justify-content: center;
    color: white;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #0a0a0a;
    
}

#players {
    width: 150px;
    display: block;
}

.player {
    display: flex;
    justify-content: space-between;
    padding: 2px 6px;
    background: #191919;
    border-bottom: solid 2px #d70000;
    font-size: 16px;
    color: white;
}

.name {}
.score {}

 /* _____________________________ */
#movers {}
.mover{
    width: 60px;
    border: solid 5px #d70000;
    height: 60px;
    transform: translate(-50%, -50%);
    position: fixed;
    transition: all .2s linear;
    border-radius: 50%;
}

@keyframes slide {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
        width: 60px;
        height: 60px;
    }
    50% {
        transform: translate(-50%, -50%) rotate(-90deg);
        width: 20px;
        height: 20px;
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
        width: 60px;
        height: 60px;
    }
}